{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.item_view'|trans({'%id%': item.id|default('')}) }}    
{% endblock %}

{% block body %}
    <h1> {{ 'title.item_view'|trans({'%id%': item.id|default('')}) }}</h1>
    {% if item is defined and item|length %}
        <dl>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ item.title }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{ item.author }}</dd>
            <dt>{{ 'label.publisher'|trans }}</dt>
            <dd>{{ item.publisher }}</dd>
            <dt>{{ 'label.quantity'|trans }}</dt>
            <dd>{{ item.quantity }}</dd>
            <dt>{{ 'label.quantity'|trans }}</dt>
            <dd>{{ item.create_time|format_date('long') }}</dd>
        </dl>
            <p><a href={{url('item_index')}} title='back_to_list'>{{'message.back_to_list'|trans}}</a></p>
    {% else %}
        <p>
            {{'message.item_not_found'|trans}}
        </p>
    {% endif %}
{% endblock %}